<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Users\Admin\Google Диск (petryshynmax@gmail.com)\Унік\Programminng\C#\educational_practice5\internal_logs\internallog.txt">
    <targets>
        <target name="logfile" xsi:type="File"
                fileName="C:\Users\Admin\Google Диск (petryshynmax@gmail.com)\Унік\Programminng\C#\educational_practice5/logs/${shortdate}_logfile.txt"
                layout="${longdate} ${level:uppercase=true} ${message}"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>